*{
    font-family: 'Josefin Sans', sans-serif;
}

#dice{
    position: absolute;
    top: 85%;
    left: 65%;
    transform: translate(-50%, -50%);
    rotate: 0deg;
    transform-origin: center;
    transition: all 0.5s;
}

button{
    /* padding: 15px 25px; */
    height: 60px;
    width: 120px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #eee;
    background-color: rgb(22, 22, 22);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0px #999;
    transition: all 0.09s;
}

button:active{
    background-color: #3b3b3b;
    /* padding: 17.5px 27.5px; */
    height: 70px;
    width: 130px;
}

.playerAvatar{
    position: absolute;
    top: 75%;
    left: 8%;
    transform: translate(-50%, -50%);

    width: 250px;
}

#playerHealthbar{
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);

    border: 5px double;
    width: 500px;
    height: 15px;
}

#playerHealth{
    height: 100%;
	width: 100%;
    background-color: greenyellow;
}

.enemyAvatar{
    position: absolute;
    top: 20%;
    left: 65%;
    transform: translate(-50%, -50%);

    width: 150px;
}

#enemyHealthbar{
    position: absolute;
    top: 20%;
    left: 82%;
    transform: translate(-50%, -50%); 

    width: 300px;
    height: 15px;
    border: 5px double;
}

#enemyHealth{
    height: 100%;
    width: 100%;
    background-color: greenyellow;
}

#attackButton{
    position: absolute;
    top: 79%;
    left: 55%;
    transform: translate(-50%, -50%);
}

#specialButton{
    position: absolute;
    top: 91%;
    left: 55%;
    transform: translate(-50%, -50%);
}

#gameOverScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3b3b3b;
    
    padding: 12% 20%;
    display: none;
    border-radius: 4%;
}

#gameOverText{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #eee;
}

#playAgain{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: lightgreen;
    color: #3b3b3b;
}